.img__logo {
    margin-top: 10px;
    max-width: 200px;
    max-height: 100px;
}

.img__top {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100hv;
    width: 100wv;
}